{% include 'partials/head.html' %}
<body>
{% include 'partials/header.html' %}
<main>
    {% for item in posts %}
        <div id="date">
            <a href="{% url 'posts_for_date' item.date_creat|date:'Y-m-d' %}">{{ item.date_creat|date:"F Y" }}</a>
        </div>
            <a href="{% url 'details_post' item.id %}" id="infos-post">
                <section>
                    <h1>{{item.title}}</h1>
                    <h4><img width="15" height="15" src="https://img.icons8.com/ios/15/clock--v1.png" alt="clock--v1"/>{{item.date_creat|date:"d/m/y"}} {{item.date_creat|time:"H:i A"}}</h4>
                    <p>{{item.summary}}</p>
                </section>
            </a>
    {% endfor %}
</main>
{% include 'partials/footer.html' %}
</body>